{
  "pools": {
    "A": {
      "servers": [ {% for memcache in mcrouter_memcache_list_server %} "{{ memcache }}:11214" {% if not loop.last %},{% endif %} {% endfor %} ]
    }
  },
  "route": {
    "type": "OperationSelectorRoute",
    "operation_policies": {
      "add": "AllFastestRoute|Pool|A",
      "delete": "AllFastestRoute|Pool|A",
      "get": "MissFailoverRoute|Pool|A",
      "set": "AllFastestRoute|Pool|A"
    }
  }
}
